<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <nav class="top-nav">
        <div class="app-title">
            <span class="nav-header">Website Sessions Dashboard</span>
            <div class="userinfo">
                <span class="username" id="username"></span>
                <form action="/logout" method="POST"><button class="btn">Logout</button></form>
            </div>
        </div>
    </nav>
    <main class="livemap-grid">
        <div class="livemap load-info">
            <div class="info-grid">
                <div class="info">
                    <div class="info-session-header">ACTIVE SESSIONS (NOW) <i id="activeSession" class="bi bi-question-circle"></i></div>
                    <div class="info-session-count">112</div>
                    <div class="info-session previous-day">
                        <div class="previous-day-count">
                            <div>30 DAYS AGO</div>
                            <div class="previous-day-value">148</div>
                        </div>
                        <div class="previous-day-change">
                            <div class="change-right">CHANGE</div><br>
                            <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>24.32%</div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="info-session-header">LOAD TIME (NOW) <i id="loadTime" class="bi bi-question-circle"></i></div>
                    <div class="info-session-count">2.08s</div>
                    <div class="info-session previous-day">
                        <div class="previous-day-count">
                            <div>30 DAYS AGO</div>
                            <div class="previous-day-value">1.7s</div>
                        </div>
                        <div class="previous-day-change">
                            <div class="change-right">CHANGE</div><br>
                            <div class="change-right positive"><i id="bounceRate" class="bi bi-caret-up-fill"></i>18.30%</div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="info-session-header">APDEX SCORE (NOW) <i id="apdex" class="bi bi-question-circle"></i></div>
                    <div class="info-session-count">1.00</div>
                    <div class="info-session previous-day">
                        <div class="previous-day-count">
                            <div>30 DAYS AGO</div>
                            <div class="previous-day-value">0.96</div>
                        </div>
                        <div class="previous-day-change">
                            <div class="change-right">CHANGE</div><br>
                            <div class="change-right positive"><i class="bi bi-caret-up-fill"></i>4.00%</div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="info-session-header">BOUNCE RATE (NOW) <i id="bounceRate" class="bi bi-question-circle"></i></div>
                    <div class="info-session-count">10.2%</div>
                    <div class="info-session previous-day">
                        <div class="previous-day-count">
                            <div>30 DAYS AGO</div>
                            <div class="previous-day-value">16.4%</div>
                        </div>
                        <div class="previous-day-change">
                            <div class="change-right">CHANGE</div><br>
                            <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>37.8%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="livemap map">
            <div id="map" style="height: 100%; width: 100%"></div>
        </div>
        <div class="livemap user-info">
            <div class="users-container">
                <div class="users-header">RECENT USERS <i id="recentUsers" class="bi bi-question-circle"></i></div>
                <div id="uGrid" style="max-height: 440px; margin-top: 10px;"></div>
                <div id="uPager"></div>
            </div>
        </div>
        <div class="livemap sessions">
            <div class="sessions-container">
                <div class="sessions-info">
                    <div class="sessions-header">SESSIONS <i id="sessions" class="bi bi-question-circle"></i></div>
                </div>
                <div class="sessions-info">
                    <div class="sessions-total">
                        <div class="sessions-total-value" id="sessionTotal"></div>
                        <div class="sessions-total-annotation">IN TOTAL</div>
                    </div>
                    <div id="sPie" style="margin-left: auto; margin-right: auto; border: none; height: 200px; width: 200px;"></div>
                </div>
                <div class="sessions-info sessions-breakdown">
                    <div style="display: flex; justify-content: space-between;">
                        <div>NEW</div><div>RETURNING</div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <div class="session-value-bg" id="newSessions"></div><div class="session-value-bg" id="returnSessions"></div>
                    </div>
                    <hr style="margin-top: 25px;">
                    <div style="margin-top: 25px;">AVERAGE PAGEVIEWS/SESSION</div>
                    <div style="display: flex; justify-content: space-between;">
                        <div class="session-value-bg" id="pageViewValue"></div><div class="session-value-sm" id="pageViewChange"><i class="bi bi-caret-up-fill positive"></i></div>
                    </div>
                    <hr style="margin-top: 25px;">
                    <div style="margin-top: 25px;">AVERAGE SESSION DURATION</div>
                    <div style="display: flex; justify-content: space-between;">
                        <div class="session-value-bg" id="sessionsValue"></div><div class="session-value-sm" id="sessionsChange"><i class="bi bi-caret-up-fill positive"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="livemap issues-info">
            <div class="issues-container">
                <div class="issues-header">ISSUES REPORTED <i id="issuesReported" class="bi bi-question-circle"></i></div>
                <div id="issuesGrid" style="max-height: 480px; margin-top: 10px"></div>
            </div>
        </div>
        <div class="livemap top-countries">
            <div class="countries">
                <div class="countries-header">TOP COUNTRIES BY SESSION <i id="topCountries" class="bi bi-question-circle"></i></div>
            </div>
            <div class="countries countries-list" id="countries-list"></div>
        </div>
        <div class="livemap top-platforms">
            <div class="charts-container">
                <div class="charts-header">TOP PLATFORMS <i id="topPlatforms" class="bi bi-question-circle"></i></div>
                <div class="charts-info">
                    <div id="tpChart"></div>
                    <div id="tpPie"></div>
                </div>
            </div>
        </div>
        <div class="livemap top-browsers">
            <div class="charts-container">
                <div class="charts-header">TOP BROWSERS <i id="topBrowsers" class="bi bi-question-circle"></i></div>
                <div class="charts-info">
                    <div id="tbChart"></div>
                    <div id="tbPie"></div>
                </div>
            </div>
        </div>
        <div class="messenger" id="theMessenger">
            <p>Messenger Div</p>
        </div>
        <div class="chat-bubble" id="chatBubble">
            <i class="bi bi-chat-dots-fill"></i>
        </div>
    </main>
</body>
</html>